.styled_button {
  font-family: "Epilogue" !important;
  color: #ffffff !important;
  height: 56px;
  width: 328px;
  font-size: 14px !important;
  font-weight: 700 !important;
  padding: 8px 16px 2px 16px !important;
}
