.home_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 472px;
  width: 100vw;

  .text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 204px;
    .sub_heading {
      position: absolute;
      left: 24px;
      top: 24px;
      font-family: "Epilogue";
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -0.05em;
      color: #333333;
    }
    .heading {
      width: 75%;
      font-family: "Bilbo";
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 80px;
      text-align: center;
      color: #000000;
    }
  }

  .action_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
  }
}
