@import url("https://fonts.googleapis.com/css?family=Bilbo");
@import url("https://fonts.googleapis.com/css?family=Epilogue");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  font-family: "Bilbo", cursive;
  min-width: 100vw;
  min-height: 100vh;
}
